<% if user_signed_in? %>
  <div>
    <%= link_to t("devise_views.menu.login_items.logout"),
                destroy_user_session_path, rel: "nofollow", method: :delete, class: "default-button" %>
  </div>
<% else %>
  <div>
    <%= link_to t("devise_views.menu.login_items.login"),
                new_user_session_path, rel: "nofollow", class: "default-button" %>
  </div>
<% end %>
