apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: consul-koper
resources:
  - database.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
images:
  - name: consul
    newName: rg.fr-par.scw.cloud/djnd/consul-koper
    newTag: 'f22dcd985152d2de6399c18d06a831a86ad5bb25'
  # - name: consul-assets
  #   newName: rg.fr-par.scw.cloud/djnd/consul-assets
  #   newTag: 'f22dcd985152d2de6399c18d06a831a86ad5bb25'
