apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: consul-medvode
resources:
  - database.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
images:
  - name: consul
    newName: rg.fr-par.scw.cloud/djnd/consul-medvode
    newTag: 'eb951cbb43074e557c7aa58d7b8b25d9b2a6a8e4'
  # - name: consul-assets
  #   newName: rg.fr-par.scw.cloud/djnd/consul-assets
  #   newTag: 'eb951cbb43074e557c7aa58d7b8b25d9b2a6a8e4'
