// Table of Contents
//
// 01. Global styles
// 02. Header
// 03. Footer

// 01. Global styles
// -----------------

::selection {
  color: #fff;
  background-color: $brand;
}

:focus {
  outline: 0;
}

html {
  height: 100%;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  font-size: $base-font-size;
  position: relative;
}

@media screen and (max-width: 800px) {
  // TODO: double check
  body {
    font-size: 12px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: 700;
}

h1 {
  line-height: 1em;
}

h2 {
  font-weight: 600;
}

h3 {
  line-height: rem-calc(24);
}

p {
  font-size: $small-font-size;
  font-weight: 400;
  line-height: $line-height;
}

a {
  color: $link;

  &:hover,
  &:active {
    color: $link-hover;
  }

  &:focus {
    color: $link-hover;
  }
}



.main-indented-content {
  margin: rem-calc(20) auto;
  padding: 0 0.625rem;
  width: 100%;
}

@media (min-width: 576px) {
  .main-indented-content {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .main-indented-content {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .main-indented-content {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .main-indented-content {
    max-width: 1140px;
  }
}


.row {
  max-width: 100%;
}

.button {
  background: $brand;
  font-size: $base-font-size;

  &:hover {
    text-decoration: none !important;
  }

  &.warning,
  &.warning:hover {
    color: #000;
  }

  &.medium {
    font-size: $small-font-size;
  }
}

.button.hollow {
  border: 1px solid $link;
  color: $link;
}

.button.hollow.error {
  border-color: $alert-border;
  color: $color-alert;
}

.postfix.button {
  padding: 0;
}

.action-button {
  //background-color: $mandys-pink;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  font-size: rem-calc(22);
  font-weight: 700;

  &:hover {
    //background-color: $mandys-pink-hover;
  }

  &.transparent {
    //background-color: transparent;
    border: 1px solid $mandys-pink;

    &:hover {
      //background-color: $mandys-pink-hover;
    }
  }

  &.small {
    padding: rem-calc(5) rem-calc(16);
  }

  &.large {
    padding: rem-calc(11) rem-calc(16);
  }

  &.huge {
    font-size: rem-calc(24);
    font-weight: 700;
    padding: rem-calc(15) rem-calc(20);
  }

  &.circled {
    height: rem-calc(24);
    width: rem-calc(24);
  }
}

.large-description,
.large-description p, {
  font-size: $large-font-size;
}

.ordering {
  clear: both;
  margin-bottom: $line-height / 2;

  li {
    margin-right: rem-calc(20);

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    color: $black;
    display: inline-block;
    font-size: $base-font-size;
    font-weight: 600;
    position: relative;
    text-align: left;
    text-transform: uppercase;

    span {
      color: $black;
    }
  }

  .is-active {
    .triangle-down {
      border-top: 11px solid $mandys-pink;
    }
  }
}

// ---------

.clear {
  clear: both;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block;
}

.aling-middle {
  vertical-align: middle;
}

.sidebar-divider {
  border-top: 1px solid $border;
  margin-top: $line-height;

  &:first-child {
    margin-top: 0;
  }
}

.f-dropdown {
  li a {
    font-size: $small-font-size;

    &:hover {
      color: $link-hover;
    }
  }

  li:hover,
  .f-dropdown li:focus {
    background: #fff;
  }

  &.open {
    outline: none;
  }
}

.margin {
  margin-bottom: $line-height;
  margin-top: $line-height;
}

.margin-top {
  margin-top: $line-height;
}

.margin-bottom {
  margin-bottom: $line-height;
}

.margin-left {
  margin-left: $line-height;
}

.margin-right {
  margin-right: $line-height;
}

.float-right-medium {

  @include breakpoint(medium) {
    float: right !important;
  }
}

.padding {
  padding-bottom: $line-height;
  padding-top: $line-height;
}

.light {
  background: $light;
}

.highlight {
  background: $highlight;
}

.icon-check {
  color: $check;
}

.wrapper {
  // height: 100%;
}

.push {
  clear: both;
}

.footer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

.ie-callout {
  position: absolute;
  top: 0;
  width: 100%;

  .close {
    font-size: rem-calc(34);
    top: 20%;
  }
}

.close-button {
  color: $text;
  top: $line-height / 2;
}

.back {
  clear: both;
  color: $black;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: 600;
  margin-bottom: rem-calc(20);
  text-transform: uppercase;

  .arrow-small-left {
    margin-right: 10px;
  }

  .text {
    vertical-align: middle;
  }
}

.tabs-content {
  border: 0;
}

.tabs {
  border: 0;
  margin-bottom: $line-height;

  .tabs-title {
    font-size: $base-font-size;
    margin-bottom: 0;
  }

  .tabs-title > a {
    color: $black;
    margin-bottom: rem-calc(-1);
    margin-right: rem-calc(10);
    padding: rem-calc(6) rem-calc(12);

    &[aria-selected='true'],
    &.is-active,
    &:hover {
      background-color: $athens-gray;
      border-radius: 10px;
      color: $rhino;
    }
  }

  h2,
  h3 {
    font-size: $base-font-size;
    margin: 0;
  }
}

.tabs-panel {
  padding: 0;
}

.button.float-right ~ .button.float-right {
  margin: 0 $line-height / 2;
}

.pagination .current {
  background: $brand;
}

.truncate-horizontal-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

.off-canvas-content {
  box-shadow: none;
}

.uppercase {
  text-transform: uppercase;
}

.help-text {
  font-style: normal;
  line-height: rem-calc(20);
  margin-top: 0;
}

// 02. Header
// ----------

header {
  background: $white;

  .selected {
    border-bottom: 1px solid #fff;
  }

  .locale {
    float: left;
    height: $line-height * 1.5;
    margin-left: $line-height / 2;
  }

  .external-links {
    padding: rem-calc(2) 0;
    text-align: right;
  }
}

.top-bar {
  background: $mandys-pink !important;
  color: $rhino;
  padding: rem-calc(4.5) 20px;

  .menu .menu-text {
    padding: 0;

    a {
      display: inline-block;
      font-size: rem-calc(24);
      font-weight: lighter;
      line-height: $line-height * 2;
      padding: 0;

      @include breakpoint(medium) {
        line-height: rem-calc(80);
        margin-top: 0;
      }

      img {

        @include breakpoint(medium) {
          margin-right: $line-height / 2;
          margin-top: 0;
        }
      }
    }
  }

  .menu > li {
    display: block;
    width: 100%;

    @include breakpoint(medium) {
      width: auto;
    }

    a {
      padding-left: 0;

      @include breakpoint(medium) {
        font-size: $small-font-size;
        padding: rem-calc(11) rem-calc(16);
      }
    }

    .button {
      background: none;
      text-align: left;

      @include breakpoint(medium) {
        background: #fff;
        color: $brand;
        text-align: center;
      }
    }
  }

  .has-submenu {

    &.is-active a {
      color: #fff;
      font-weight: bold;
    }
  }

  .menu {

    &.is-dropdown-submenu {
      background: #fff;
      margin: 0;
      margin-top: rem-calc(-12);
      padding: 0;
      z-index: 9;
    }

    .is-submenu-item {
      display: block;
      height: auto;
      margin-bottom: 0;

      a {
        color: $text;
      }
    }
  }

  .site-title-holder {
    line-height: $line-height;
    margin: 0 auto;
    padding: rem-calc(10) 0;
    text-align: center;

    .site-title {
      font-size: rem-calc(20);

      .site-name {
        font-weight: 800;
      }
    }

    a img {
      height: rem-calc(48);
      margin: 0;
      width: auto;

      @include breakpoint(medium up) {
        height: auto;
      }
    }
  }
}

.menu-icon {

  &.dark {

    &:hover::after,
    &::after {
      background: #fff;
      box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;
    }
  }
}

.title-bar {
  background: none;
  float: right;
}

.dropdown.menu > li {

  &.is-dropdown-submenu-parent > a::after {
    border-color: #fff transparent transparent;
  }
}

.top-links {
  background: $mandys-pink;
  color: $black;
  font-size: $tiniest-font-size;
  padding: 0 rem-calc(20);

  a {
    margin: 0 rem-calc(6);

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    margin-bottom: 0;
  }

  li {
    display: block;

    @include breakpoint(medium) {
      display: inline-block;

      &::after {
        content: ' ';
      }

      &:last-child::after {
        content: none;
      }
    }
  }
}

.subnavigation {

  @include breakpoint(medium) {
    background: #fff;
    padding-bottom: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;

    li {
      @include breakpoint(medium) {
        display: inline-block;
        margin-right: rem-calc(20);
      }
    }
  }

  a {
    color: #fff;
    display: inline-block;
    line-height: $line-height * 2;
    position: relative;
    text-align: left;
    width: 100%;

    @include breakpoint(medium) {
      color: $text;
      display: block;
      font-weight: bold;
      width: auto;

      &:hover {
        color: $link;
      }
    }

    &.is-active {
      color: #fff;

      @include breakpoint(medium) {
        border-bottom: 2px solid $brand;
        color: $brand;
      }
    }
  }

  .input-group {
    padding-top: $line-height / 4;

    @include breakpoint(medium) {
      margin-bottom: 0;
    }
  }

  .input-group-field {
    margin-bottom: 0 !important;
  }

  .input-group-button {
    line-height: $line-height * 1.5;
    padding-bottom: 0;

    button {
      background: $border;
      border: 1px solid #ccc;
      border-left: 0;
      color: $text;
      height: $line-height * 1.5;
      line-height: $line-height * 1.5;
      padding-top: 0;
    }
  }

  input {
    height: $line-height * 1.5 !important;
    margin-bottom: 0;
    margin-right: 0;
    width: 100%;
  }
}

.top-bar-right {

  .is-active {
    font-weight: bold;
    text-decoration: underline;
  }
}

.submenu {
  border-bottom: 1px solid $border;
  clear: both;
  margin-bottom: $line-height / 2;

  a {
    color: $text;
    display: inline-block;
    font-weight: bold;
    margin-right: $line-height / 2;
    position: relative;
    text-align: left;

    @include breakpoint(medium) {
      margin-right: $line-height;
    }

    &:hover {
      color: $link;
    }
  }

  .is-active {
    border-bottom: 2px solid $brand;
    color: $brand;

    &:hover {
      text-decoration: none;
    }
  }

  h2 {
    font-size: $base-font-size;
  }
}

.search-form-header [type=text] {
  max-width: none;
}

// 03. Footer
// ----------


footer {
  background-color: $input-gray;
  color: $black;
  font-size: $tiny-font-size;
  height: rem-calc(100);

  .logo-holder {
    padding-left: rem-calc(80px);
  }

  .links-holder {
    padding-right: rem-calc(20);
    text-align: right;
  }

  .logo-right {
    text-align: right;
    background-position: right center
  }

  .logo {
    background: image-url('municipalities/default.png') no-repeat;
    background-size: 119px 61px;
    display: block;
    height: rem-calc(61);
    margin-top: rem-calc(22);
    width: 119px;

    &.default {
      background: image-url('municipalities/default.png') no-repeat;
      background-size: 119px 61px;
    }
  }

  .logo-djnd {
      background: image-url('djnd.png') no-repeat;
      background-size: 119px 61px;
      background-position: right;
      display: block;
      height: rem-calc(61);
  
      &.default {
        background: image-url('djnd.png') no-repeat;
        background-size: 119px 61px;
      }
  }

  .footer-links {
    margin-top: rem-calc(40);
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 240dpi) {
    .logo {
      background: image-url('municipalities/default@2x.png') no-repeat;
      background-size: 119px 61px;

      &.default {
        background: image-url('municipalities/default@2x.png') no-repeat;
        background-size: 119px 61px;
      }
    }
    .logo-djnd {
      background: image-url('djnd.png') no-repeat;
      background-size: 119px 61px;
      &.default {
        background: image-url('djnd.png') no-repeat;
        background-size: 119px 61px;
      }
  }
  }

  @media (max-width: 767px) {
    .logo-djnd {
      background-position: center;
    }
  }

  a,
  a:active,
  a:focus {
    color: $text;

    &:hover {
      color: $link-hover;
    }
  }
}

.home-page footer {
  background-color: $white;
}
