.header-logo {
  height: 100%;
  display: block;
  padding: 10px 0;

  img {
    max-height: 160px;
  }
}

.back {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 14px;
  font-weight: 600;

  &:hover {
    color: $black;
  }
}

.rog-green {
  background-color: #DBDBAB;
  color: #1C1463;
}

.rog-yellow {
  background-color: #FFF9A9;
  color: #096533;
}

.rog-red {
  background-color: #FFD3DF;
  color: #A50000;
}