<% provide :title do %><%= @investment.title %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: budget_investment_url %>
<% end %>

<div class="main-indented-content">

  <%= render "/budgets/investments/investment_show",
    investment: @investment,
    investment_ids: @investment_ids,
    ballot: @ballot %>

</div>
