<div class="main-indented-content">
  <div class="row">
    <div class="column">
      <div class="footer-logos">
          <div>
            <%= t('custom.footer.consul_html') %>
          </div>
          <div>
            <%= t('custom.footer.djnd_html') %>
          </div>
      </div>
    </div>
  </div>
</div>