<div class="main-indented-content">
  <div class="row">
    <div class="column">
      <div class="footer-logos">
        <div class="logo-left">
          <div>
            <a href="https://www.nova-gorica.si/" target="_blank">
              <%= image_tag(image_path_for("municipalities/MONG_logo.svg")) %>
            </a>
          </div>
        </div>
        <div class="logo-right">
          <span><%= t("custom.footer.djnd") %></span>
          <a href="https://danesjenovdan.si/" target="_blank">
            <%= image_tag(image_path_for("logo-djnd.png")) %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
