<header>
  <div class="main-indented-content">
    <div class="row">
      <div class="column">
        <div class="top-bar">
          <div class="no-bullet inline-block header-links">
            <%= render "devise/menu/login_items" %>
            <%# <%= render "shared/locale_switcher" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
