default: &default
  adapter: postgresql
  encoding: unicode
  host: database
  pool: 5
  schema_search_path: "public,shared_extensions"
  username:
  password:
  port: 5432

development: &development
  <<: *default
  database: consul

# The staging, preproduction and production dbs are only needed
# for running rake assets:precompile locally before deploying
staging:
  <<: *development

preproduction:
  <<: *development

production:
  <<: *development

test:
  <<: *default
  database: consuldatabase_test
