<% provide :title do %><%= t("custom.privacy.title") %>
<% end %>
<% content_for :canonical do %>
<%= render "shared/canonical", href: page_url("pogoji-uporabe") %>
<% end %>

<main>
  <div class="row privacy">
    <div class="main-indented-content">
      <div class="small-12 medium-10 column medium-centered">

        <h3 dir="ltr"><%= t("custom.terms.main_title") %></h3>
        <p dir="ltr">
          Aktivna uporaba spletnega orodja se ureja s pogoji uporabe, ki jih najdeš <a href="https://consul-trebnje.s3.fr-par.scw.cloud/Pogoji%20uporabe%20in%20varstvo%20osebnih%20podatkov%20CONSUL%20Trebnje.pdf">TUKAJ</a>.
        </p>
      </div>
    </div>
  </div>
</main>
