@import 'social-share-button';
@import 'custom/fonts';
@import 'custom/foundation_and_overrides';
@import 'mixins';
@import 'custom/admin';
@import 'custom/layout';
@import 'icons';
@import 'custom/icons';
@import "custom/pages";
@import 'custom/participation';
@import 'leaflet';
@import 'jquery-ui/datepicker';
@import 'datepicker_overrides';
@import 'jquery-ui/autocomplete';
@import 'autocomplete_overrides';
@import 'jquery-ui/sortable';

.top-bar {
    background-color: #F4D5D6 !important;
}

.welcome-columns {
    .welcome-column {
        background-image: none !important;

        &.accepting {
            background-color: #E9ABAC !important;
        }

        &.balloting {
            background-color: #E39698 !important;
        }

        &.finished {
            background-color: #DD8083 !important;
        }

        .linkable,
        .hoverlinkable {
            background-image: none !important;
        }

        .action-button.large {
            background-color: #272B68 !important;
            background-image: none !important;
            color: #ffffff !important;
            text-transform: uppercase !important;
        }

        .column-content {
            color: #000000;
        }
    }
}

.loginlinks .action-button {
    font-size: 26px;
    border-radius: 30px;
    padding-top: 6px;
}

.footer-links li a {
    font-size: 18px;
}
