<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<%= render "shared/banner" %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<%= render "header", header: @header %>

<main>
  <div class="backgrounded with-people">
    <div class="row">
      <h1>ТВОЈЕ ИДЕЈЕ МЕЊАЈУ ГРАД.</h1>
      <a class="custom-button" href="/users/sign_in">УКЉУЧИ СЕ</a>
    </div>
  </div>

  <div class="turquise">
    <div class="row">
      <h1>МАПА ПРОЈЕКАТА</h1>
      <div class="trio-container">
        <div class="btn-round-container">
          <button class="btn-round">ПРОЈЕКТИ У ТОКУ</button>
        </div>
        <div class="btn-round-container">
          <button class="btn-round">ИЗГЛАСАНИ ПРОЈЕКТИ</button>
        </div>
        <div class="btn-round-container">
          <button class="btn-round">ЗАВРШЕНИ ПРОЈЕКТИ</button>
        </div>
      </div>
    </div>
  </div>
</main>
