<div class="locale" id="js-locale" data-current-local="<%= I18n.locale %>">
  <form class="locale-form">
    <select class="js-location-changer locale-switcher inline-block" name="locale-switcher" id="year-switcher">
      <optgroup label="ProraÄun za leto:">
        <option selected="true" value="https://pp.hrpelje-kozina.si">2021 in 2022</option>
        <option value="https://2019.pp.hrpelje-kozina.si">2020</option>
      </optgroup>
    </select>
  </form>
</div>